.shinne{
    border-radius: 10px;
    border: solid 5px #232323;
	position: absolute;
	top: 50px;
	left: 100px;
	width: 1200px;
	height: 500px;
	background: skyblue;
}
.arigato{
	position: absolute;
	top: 20px;
	left: 550px;
	width: 200px;
	height: 50px;
	background: #5B84D2;
}
.ara{
	position: absolute;
	top: 90px;
	left: 240px;
	width: 300px;
	height: 410px;
	background: chocolate;
}
.gatto3{
	position: absolute;
	top: 145px;
	left: 680px;
	width: 300px;
	height: 410px;
	background: chocolate;

}
.textox{

	position: absolute;
top: 9px;
left: 40px;
color: #000487;
font-size: 30px;
}
.texto1{
position: absolute;
top: 9px;
left: 100px;
color: #021879;
font-size: 30px;
}
.texto3{
position: absolute;
top: 100px;
left: 15px;
right: 17px;
color: ;
font-size: 15px;}
.foto1{
	position: absolute;
top: 200px;
left: 50px;
right: 50px;
width: 200px;
height: 190px;
background: url(senpai.png);
background-size: cover;